* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h3,
h4 {
  padding: 10px 0px;
}
.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.products img {
  width: 336px;
  height: 336px;
}
.product {
  text-align: center;
  padding: 20px 10px;
}
.App {
  text-align: center;
}
